# docker-compose.yaml
x-airflow-common:
  &airflow-common
  build: 
    context: .
    dockerfile: Dockerfile
  image: custom-airflow:latest
  environment:
    &airflow-common-env
    AIRFLOW__CORE__EXECUTOR: CeleryExecutor
    AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
    AIRFLOW__CELERY__RESULT_BACKEND: db+postgresql://airflow:airflow@postgres/airflow
    AIRFLOW__CELERY__BROKER_URL: redis://:@redis:6379/0
    AIRFLOW__CORE__FERNET_KEY: ''
    AIRFLOW__WEBSERVER__SECRET_KEY: 'secretkey1234567890'
    AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: 'true'
    AIRFLOW__CORE__LOAD_EXAMPLES: 'false'
    AIRFLOW__API__AUTH_BACKENDS: 'airflow.api.auth.backend.basic_auth,airflow.api.auth.backend.session'
    DISCORD_WEBHOOK_URL: ${DISCORD_WEBHOOK_URL}
    NOAA_API_KEY: ${NOAA_API_KEY}
    GITHUB_TOKEN: ${GITHUB_TOKEN}
    GITHUB_REPO: ${GITHUB_REPO}
  volumes:
    - ${AIRFLOW_PROJ_DIR:-.}/data_pipeline/dags:/opt/airflow/dags/data_pipeline
    - ${AIRFLOW_PROJ_DIR:-.}/model_pipeline/dags:/opt/airflow/dags/model_pipeline
    - ${AIRFLOW_PROJ_DIR:-.}/data_pipeline/scripts:/opt/airflow/scripts/data_pipeline
    - ${AIRFLOW_PROJ_DIR:-.}/data_pipeline/logs:/opt/airflow/logs/data_pipeline
    - ${AIRFLOW_PROJ_DIR:-.}/data_pipeline/data:/opt/airflow/data
    - ${AIRFLOW_PROJ_DIR:-.}/model_pipeline/scripts:/opt/airflow/scripts/model_pipeline
    - ${AIRFLOW_PROJ_DIR:-.}/model_pipeline/mlruns:/opt/airflow/scripts/model_pipeline/mlruns
    - ${AIRFLOW_PROJ_DIR:-.}/model_pipeline/artifacts:/opt/airflow/artifacts/model_pipeline
    - ${AIRFLOW_PROJ_DIR:-.}/model_pipeline/monitoring:/opt/airflow/scripts/model_pipeline/monitoring
    - ${AIRFLOW_PROJ_DIR:-.}/model_pipeline/models:/opt/airflow/models

    # - ${AIRFLOW_PROJ_DIR:-.}/model_pipeline/dags:/opt/airflow/dags/model_pipeline
    # - ${AIRFLOW_PROJ_DIR:-.}/model_pipeline/mlruns:/opt/airflow/mlruns/model_pipeline


  user: "${AIRFLOW_UID:-50000}:0"
  depends_on:
    &airflow-common-depends-on
    redis:
      condition: service_healthy
    postgres:
      condition: service_healthy

services:
  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    volumes:
      - postgres-db-volume:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "airflow"]
      interval: 5s
      retries: 5
    restart: always

  redis:
    image: redis:latest
    expose:
      - 6379
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 30s
      retries: 50
    restart: always

  airflow-webserver:
    <<: *airflow-common
    command: webserver
    ports:
      - 8080:8080
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8080/health"]
      interval: 10s
      timeout: 10s
      retries: 5
    restart: always
    depends_on:
      <<: *airflow-common-depends-on
      airflow-init:
        condition: service_completed_successfully

  airflow-scheduler:
    <<: *airflow-common
    command: scheduler
    healthcheck:
      test: ["CMD-SHELL", 'airflow jobs check --job-type SchedulerJob --hostname "$${HOSTNAME}"']
      interval: 10s
      timeout: 10s
      retries: 5
    restart: always
    depends_on:
      <<: *airflow-common-depends-on
      airflow-init:
        condition: service_completed_successfully

  airflow-worker:
    <<: *airflow-common
    command: celery worker
    mem_limit: 13g
    mem_reservation: 12g
    healthcheck:
      test: ["CMD-SHELL", 'celery --app airflow.executors.celery_executor.app inspect ping -d "celery@$${HOSTNAME}"']
      interval: 10s
      timeout: 10s
      retries: 5
    restart: always
    depends_on:
      <<: *airflow-common-depends-on
      airflow-init:
        condition: service_completed_successfully

  airflow-triggerer:
    <<: *airflow-common
    command: triggerer
    healthcheck:
      test: ["CMD-SHELL", 'airflow jobs check --job-type TriggererJob --hostname "$${HOSTNAME}"']
      interval: 10s
      timeout: 10s
      retries: 5
    restart: always
    depends_on:
      <<: *airflow-common-depends-on
      airflow-init:
        condition: service_completed_successfully

  airflow-init:
    <<: *airflow-common
    entrypoint: /bin/bash
    command:
      - -c
      - |
        airflow db upgrade
        airflow users create \
          --username ${_AIRFLOW_WWW_USER_USERNAME:-airflow2} \
          --password ${_AIRFLOW_WWW_USER_PASSWORD:-airflow2} \
          --firstname Airflow \
          --lastname Admin \
          --role Admin \
          --email admin@example.com
    environment:
      <<: *airflow-common-env
      _AIRFLOW_DB_UPGRADE: 'true'
      _AIRFLOW_WWW_USER_CREATE: 'true'
    user: "50000:0"

volumes:
  postgres-db-volume:
               